<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="童攀课堂-php课堂-www.tongpankt.com" />
<meta name="Description" content="童攀课堂-php课堂-www.tongpankt.com" />
<title>交流群：383432579</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="index__src/css/base.css" />
<link rel="stylesheet" type="text/css" href="index__src/css/style.css" />
<link rel="stylesheet" type="text/css" href="index__src/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="index__src/css/purebox.css" />
<link rel="stylesheet" type="text/css" href="index__src/css/quickLinks.css" />
<script type="text/javascript" src="index__src/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="index__src/js/jquery.json.js"></script>
<script type="text/javascript" src="index__src/js/transport_jquery.js"></script>

</head>
<body class="bg-ligtGary">
	{include file="common/top"}
<div class="content article-content">
    <div class="w w1200 clearfix">
        {include file="common/article_left"}
        <div class="article-main">
            <div class="am-hd">
                <h2>{$id_cate_name} </h2>
                <div class="mod-list-sort fr mt10">
                <form action="" name="search_form" method="post" class="article_search">
<div class="f-search">
    <input name="keywords" type="text" id="requirement" value="" class="text" placeholder="请填写搜索内容" />
    <input name="id" type="hidden" value="5" />
    <input name="cur_url" id="cur_url" type="hidden" value="" />
    <input type="submit" value="立即搜索" class="btn sc-redBg-btn ui-btn-submit" />
</div>
                </form>
                </div>
            </div>
            
            <div class="am-bd">
                <ul class="artilce-list">
                    {volist name="article_info" id="vo"}
<li>
    <h3><a href="{:url('article',['id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a></h3>
    <p></p>
</li>
{/volist}
                </ul>
            </div>
            
<script type="Text/Javascript" language="JavaScript">
<!--
function selectPage(sel)
{
  sel.form.submit();
}
//-->
</script>
        </div>
        
    </div>
</div>
{include file="common/foot"}
</div>
<script type="text/javascript" src="index__src/js/suggest.js"></script>
<script type="text/javascript" src="index__src/js/scroll_city.js"></script>
<script type="text/javascript" src="index__src/js/utils.js"></script>
<script type="text/javascript" src="index__src/js/warehouse.js"></script>
<script type="text/javascript" src="index__src/js/warehouse_area.js"></script>
<script type="text/javascript" src="index__src/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="index__src/js/dsc-common.js"></script>
<script type="text/javascript">
	document.getElementById('cur_url').value = window.location.href;
</script>
<script type="text/javascript">
	$(function(){
		$(".article-side .side-goods").slide({
			effect: 'leftLoop'
		});
	});
</script>
</body>
</html>
